workflows/AI_Agent___Supabase_Audit___Execution_Logs___Datadog.json
{
  "updatedAt": "2026-06-12T11:03:48.693Z",
  "createdAt": "2026-06-12T08:31:17.953Z",
  "id": "lTkZm4It4dv1M6NW",
  "name": "AI Agent + Supabase Audit + Execution Logs + Datadog",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {}
      },
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -768,
        96
      ],
      "id": "de8e7a48-4a42-4e43-a0ca-565ba2ce9475",
      "typeVersion": 1.4,
      "webhookId": "1d246516-8865-4e18-b420-adf1cc69cad6",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_logs",
          "mode": "list",
          "cachedResultName": "execution_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step_order": 0,
            "execution_time_ms": 0,
            "workflow_name": "={{ $workflow.name }}",
            "execution_id": "={{ $workflow.id }}",
            "status": "={{ $execution.mode }}",
            "details": "={{ $json.chatInput }}",
            "step_name": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step_name",
              "displayName": "step_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step_order",
              "displayName": "step_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_time_ms",
              "displayName": "execution_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Execution Log Start",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -560,
        96
      ],
      "id": "dfa0f957-0eb7-401b-b605-16675a723b31",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Chat Trigger').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a helpful assistant",
          "returnIntermediateSteps": true
        }
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -352,
        96
      ],
      "id": "ebe31bdc-9ebd-40b2-85f8-23f8afe04cb2",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "audit_logs",
          "mode": "list",
          "cachedResultName": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $('Execution Log Start').item.json.id }}",
            "action": "={{ $('Execution Log Start').item.json.status }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Audit Log",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        0
      ],
      "id": "bfae7980-9cd2-4f97-835e-59d424903234",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "execution_logs",
          "mode": "list",
          "cachedResultName": "execution_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "step_order": 0,
            "execution_time_ms": 0,
            "execution_id": "={{ $('Execution Log Start').item.json.execution_id }}",
            "workflow_name": "={{ $('Execution Log Start').item.json.workflow_name }}",
            "step_name": "={{ $('Execution Log Start').item.json.step_name }}",
            "status": "={{ $('Execution Log Start').item.json.status }}",
            "details": "={{ $('Execution Log Start').item.json.details }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step_name",
              "displayName": "step_name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "step_order",
              "displayName": "step_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_time_ms",
              "displayName": "execution_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "name": "Execution Log End",
      "type": "n8n-nodes-base.postgres",
      "position": [
        0,
        224
      ],
      "id": "bc257bde-9c01-4f09-8588-adfd0ed3923a",
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Datadog Alert",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        704,
        272
      ],
      "id": "4988dc0c-dd7b-4274-8f60-9a83294425e3",
      "typeVersion": 4.4,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        784,
        96
      ],
      "id": "6880bbc0-5a80-4d05-8ff1-48ba6d197f65",
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -480,
        304
      ],
      "id": "ce9b4896-e7a6-4f23-a42d-6f2a3332c28f",
      "name": "Azure OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        320
      ],
      "id": "c1fd26f0-c244-4d83-8f16-5fabe9860f99",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      executionId: $execution.id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        96
      ],
      "id": "5aedb415-3340-48fc-a0ba-db37f7ec9be2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const execution = $input.first().json;\n\nconst result = [];\n\ntry {\n\n  const runData =\n    execution.data?.resultData?.runData ||\n    execution.resultData?.runData ||\n    {};\n\n  for (const nodeName in runData) {\n\n    const runs = runData[nodeName];\n\n    for (const run of runs) {\n\n      const usage =\n        run.executionData?.resultData?.tokenUsage ||\n        run.data?.tokenUsage ||\n        run.tokenUsage ||\n        run.usage_metadata ||\n        {};\n\n      result.push({\n        json: {\n          node_name: nodeName,\n          model: usage.model || null,\n          prompt_tokens:\n            usage.promptTokens ||\n            usage.input_tokens ||\n            0,\n          completion_tokens:\n            usage.completionTokens ||\n            usage.output_tokens ||\n            0,\n          total_tokens:\n            usage.totalTokens ||\n            usage.total_tokens ||\n            0\n        }\n      });\n    }\n  }\n\n} catch (error) {\n\n  return [{\n    json: {\n      error: error.message\n    }\n  }];\n\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        96
      ],
      "id": "f1448771-a510-4010-baa0-db1ab474d76d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "=http://localhost:5678/api/v1/executions/{{$json.executionId}}?includeData=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkMjUxMTFmYy0xNmYyLTQ1NTQtYmRjMC1mMzNiMjM0NjhiMmMiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwianRpIjoiZWI2NWQ0ZWYtMTcyYi00MjI2LTgwYTQtZTQ0NWYwYTJjZmVjIiwiaWF0IjoxNzgwNzI2OTYzLCJleHAiOjE3ODMzMTA0MDB9.RjxTJo3QLaczCYoTS2S6nrZCUVRvU7caaZGB-igFB6M"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        96
      ],
      "id": "f51836a0-cf85-44b0-84eb-b93a373d0ae7",
      "name": "DATADOG Alert"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Execution Log Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Log Start": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Log End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Log End": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "DATADOG Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DATADOG Alert": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "1aa50b2f-7509-4234-827a-97dbc4c419cf",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-12T08:31:17.957Z",
      "createdAt": "2026-06-12T08:31:17.957Z",
      "role": "workflow:owner",
      "workflowId": "lTkZm4It4dv1M6NW",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": null,
  "tags": []
}