workflows/HITL___Email_Pending_Option_using_Audit_log.json
{
  "updatedAt": "2026-06-12T09:46:54.668Z",
  "createdAt": "2026-06-12T08:32:53.382Z",
  "id": "1R1MHMqUPE9RXgjw",
  "name": "HITL — Email Pending Option using Audit log",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2592,
        96
      ],
      "id": "525217bc-65bd-4aa5-a9d6-bd5331fd8622",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e813b43f-1827-4e95-9fa0-69a5ad7b8bf4",
              "name": "customer_name",
              "value": "Ayush ",
              "type": "string"
            },
            {
              "id": "72c41fb6-f0cf-4133-9e93-6c0086e2839a",
              "name": "customer_email",
              "value": "ayushkulhade2@gmail.com",
              "type": "string"
            },
            {
              "id": "1e468176-b23c-4193-80b5-d1366065db5f",
              "name": "subject",
              "value": "Invoice Query",
              "type": "string"
            },
            {
              "id": "779f1fe3-94ad-4da8-afc7-7818cf459616",
              "name": "message",
              "value": "Hi, I have not received my invoice for order #12345. Can you help?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2160,
        96
      ],
      "id": "048236ab-30f6-4b0f-aca3-44026f7d8557",
      "name": "Customer Email Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer Name: {{ $json.customer_name }}\nCustomer Email: {{ $json.customer_email }}\nSubject: {{ $json.subject }}\nCustomer Query: {{ $json.original_query || $json.message }}\n\n{{ $json.editedDraft ? 'The manager reviewed and edited the draft. Use this version exactly — do NOT rewrite it, only clean up formatting: ' + $json.editedDraft : 'Please draft a professional email reply to the customer.' }}",
        "options": {
          "systemMessage": "You are a professional customer service agent.\nDraft a helpful, polite email reply to the\ncustomer's query. Keep it concise and professional.\nSign off as \"Customer Support Team\"",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1872,
        96
      ],
      "id": "1a308ed6-ef11-4bf7-83a9-f9cceeaf77dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        -1872,
        416
      ],
      "id": "794cc279-03ff-4d08-b8cc-e8409ffb9715",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "x5lZM9gfKe7o6JtL",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c358a1f-9c10-4012-88cf-bf0d934d28ed",
              "name": "ai_draft",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "0629d232-8523-4d62-8371-4e4847a68d78",
              "name": "customer_name",
              "value": "={{ $('Customer Email Data').item.json.customer_name }}",
              "type": "string"
            },
            {
              "id": "a8100136-2e65-4f5e-8bd0-e41d02b60363",
              "name": "=customer_email",
              "value": "={{ $('Customer Email Data').item.json.customer_email }}",
              "type": "string"
            },
            {
              "id": "789220e7-f777-4209-a1f4-f8395343d70d",
              "name": "subject",
              "value": "={{ $('Customer Email Data').item.json.subject }}",
              "type": "string"
            },
            {
              "id": "e3fde81f-b7e0-4fd6-adb9-b8f6b51df439",
              "name": "original_query",
              "value": "={{ $('Customer Email Data').item.json.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        96
      ],
      "id": "9fccd91d-5d8c-4187-83b5-437fa3dd9fe8",
      "name": "Format Review Data"
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "resumeAmount": 24,
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -592,
        96
      ],
      "id": "f98845ab-4415-4b0e-a13a-2c8b40cb02fb",
      "name": "Wait",
      "webhookId": "161b4347-3a1e-4bfb-b1ea-f7f187ce4fa2"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Review Data').item.json.customer_email }}",
        "subject": "=Re: {{ $('Format Review Data').item.json.subject }}",
        "emailType": "text",
        "message": "={{ $('Format Review Data').item.json.ai_draft }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "60570a71-cc2a-46e8-a550-d7789a5a476a",
      "name": "Send a message",
      "webhookId": "e3f48a33-f9a0-4bc6-817c-be664c5a59f6",
      "credentials": {
        "gmailOAuth2": {
          "id": "ufBHP0gOl5jBybIp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        240
      ],
      "id": "2f13a90a-caf5-4104-96b8-234d6bca6c65",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "## Workflow of each node \nNode 1: Manual Trigger\n  Starts the workflow\n  ↓ passes: nothing (just a trigger)\n\nNode 2: Customer Email Data\n  Sets the customer information\n  ↓ passes: name, email, subject, message\n\nNode 3: AI Agent\n  Reads the customer message and drafts a reply\n  ↓ passes: ai output (the drafted email text)\n\nNode 4: Format Review Data\n  Combines AI draft + original customer details\n  ↓ passes: ai_draft + name + email + subject + query\n\nNode 5: Send Review Email\n  Emails the manager with draft + approve/reject links\n  ↓ passes: same data package (unchanged)\n\nNode 6: WAIT — workflow completely pauses here\n  ↓ nothing moves until manager clicks a link\n  ↓ passes: original data + action (approve/reject)\n\nNode 7: IF Check Decision\n  Reads the action parameter\n  ↓ TRUE (approve) → Node 8A\n  ↓ FALSE (reject) → Node 8B\n\nNode 8A: Send Email to Customer\n  Delivers the approved draft to the customer\n  ↓ passes: sent email confirmation\n\nNode 8B: Log Rejection\n  Records that draft was rejected\n  ↓ passes: rejection status\n\nNode 9: Postgres Log\n  Saves the decision permanently to database\n  ↓ end of workflow\n",
        "height": 672,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3040,
        432
      ],
      "typeVersion": 1,
      "id": "bda5cb98-10e2-4d7b-a057-cb07340b5a02",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sendTo": "sanikashinde992@gmail.com",
        "subject": "=ACTION REQUIRED — Review AI Draft for {{ $('Format Review Data').item.json.customer_name }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n<style>\n  body { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }\n  .container { background: white; max-width: 600px; margin: auto; border-radius: 10px; padding: 30px; border: 1px solid #ddd; }\n  h2 { color: #333; border-bottom: 2px solid #eee; padding-bottom: 10px; }\n  .label { font-weight: bold; color: #555; }\n  .draft-box { background: #f9f9f9; border-left: 4px solid #007bff; padding: 15px; margin: 15px 0; border-radius: 4px; white-space: pre-wrap; font-size: 14px; }\n  .buttons { margin-top: 25px; text-align: center; }\n  .btn { display: inline-block; padding: 14px 24px; margin: 8px; border-radius: 6px; font-size: 15px; font-weight: bold; text-decoration: none; color: white; }\n  .approve { background-color: #28a745; }\n  .reject  { background-color: #dc3545; }\n  .edit    { background-color: #f59e0b; }\n  .warning { color: #856404; background: #fff3cd; padding: 10px; border-radius: 4px; margin-top: 20px; font-size: 13px; text-align: center; }\n</style>\n</head>\n<body>\n<div class=\"container\">\n  <h2>📧 Email Approval Request</h2>\n\n  <p><span class=\"label\">Customer Name:</span> {{ $('Format Review Data').item.json.customer_name }}</p>\n  <p><span class=\"label\">Customer Email:</span> {{ $('Format Review Data').item.json.customer_email }}</p>\n  <p><span class=\"label\">Subject:</span> {{ $('Format Review Data').item.json.subject }}</p>\n  <p><span class=\"label\">Original Query:</span> {{ $('Format Review Data').item.json.original_query }}</p>\n\n  <p><span class=\"label\">AI Drafted Reply:</span></p>\n  <div class=\"draft-box\">{{ $('Format Review Data').item.json.ai_draft }}</div>\n\n  <div class=\"buttons\">\n    <a class=\"btn approve\" href=\"{{ $execution.resumeUrl }}?decision=approved\">\n      ✅ Approve — Send to Customer\n    </a>\n    <a class=\"btn reject\" href=\"{{ $execution.resumeUrl }}?decision=rejected\">\n      ❌ Reject — Do Not Send\n    </a>\n    <a class=\"btn edit\" href=\"{{ $execution.resumeUrl }}\">\n      ✏️ Edit &amp; Revise\n    </a>\n  </div>\n\n  <div class=\"warning\">\n    ⚠️ This approval link expires in 24 hours. Please click one button above.\n  </div>\n</div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1008,
        96
      ],
      "id": "a37d1d70-9763-4e83-a9e3-2a66322ae056",
      "name": "Send Review Email to Manager",
      "webhookId": "1f5831d0-5f0b-4ed3-98e3-844d37e74b13",
      "credentials": {
        "gmailOAuth2": {
          "id": "ufBHP0gOl5jBybIp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; background: #f5f5f5; padding: 20px; }\n    .container { background: white; max-width: 600px; margin: auto; border-radius: 10px; padding: 30px; border: 1px solid #ddd; }\n    h2 { color: #333; border-bottom: 2px solid #eee; padding-bottom: 10px; }\n    .label { font-weight: bold; color: #555; }\n    .draft-box { background: #f9f9f9; border-left: 4px solid #007bff; padding: 15px; margin: 15px 0; border-radius: 4px; white-space: pre-wrap; font-size: 14px; }\n    .buttons { margin-top: 25px; display: flex; flex-wrap: wrap; gap: 12px; justify-content: center; }\n    .btn-link { display: inline-block; padding: 14px 24px; border-radius: 6px; font-size: 15px; font-weight: bold; text-decoration: none; color: white !important; text-align: center; cursor: pointer; border: none; }\n    .approve { background-color: #28a745; }\n    .approve:hover { background-color: #218838; }\n    .reject { background-color: #dc3545; }\n    .reject:hover { background-color: #c82333; }\n    .pending { background-color: #6c757d; }\n    .pending:hover { background-color: #5a6268; }\n    .edit-btn { background-color: #f59e0b; color: white !important; }\n    .edit-btn:hover { background-color: #d97706; }\n    #editSection {\n      display: none;\n      margin-top: 24px;\n      background: #fffbea;\n      border: 1px solid #f59e0b;\n      border-radius: 8px;\n      padding: 20px;\n    }\n    .warning { color: #856404; background: #fff3cd; padding: 10px; border-radius: 4px; margin-top: 20px; font-size: 13px; text-align: center; }\n  </style>\n</head>\n<body>\n<div class=\"container\">\n  <h2>📧 Email Approval Request</h2>\n  <p><span class=\"label\">Customer Name:</span> {{ $json.customer_name }}</p>\n  <p><span class=\"label\">Customer Email:</span> {{ $json.customer_email }}</p>\n  <p><span class=\"label\">Subject:</span> {{ $json.subject }}</p>\n  <p><span class=\"label\">Original Query:</span> {{ $json.original_query }}</p>\n  <p><span class=\"label\">AI Drafted Reply:</span></p>\n  <div class=\"draft-box\">{{ $json.ai_draft }}</div>\n\n  <!-- ALL 4 BUTTONS -->\n  <div class=\"buttons\">\n    <a class=\"btn-link approve\" href=\"{{ $execution.resumeUrl }}?decision=approved\">\n      ✅ Approve — Send to Customer\n    </a>\n    <a class=\"btn-link reject\" href=\"{{ $execution.resumeUrl }}?decision=rejected\">\n      ❌ Reject — Do Not Send\n    </a>\n    <a class=\"btn-link pending\" href=\"{{ $execution.resumeUrl }}?decision=pending\">\n      ⏳ Pending — Review Later\n    </a>\n\n  </div>\n\n  <!-- EDIT SECTION (only textarea + submit, no heading text) -->\n  <div id=\"editSection\">\n    <form method=\"POST\" action=\"{{ $execution.resumeUrl }}?decision=edited\">\n      <textarea\n        name=\"editedContent\"\n        style=\"width:100%; height:160px; padding:12px; border:1px solid #ccc; border-radius:6px; font-size:14px; font-family:Arial; resize:vertical; box-sizing:border-box;\"\n      >{{ $json.ai_draft }}</textarea>\n      <br/>\n      <button\n        type=\"submit\"\n        style=\"margin-top:12px; background-color:#3b82f6; color:white; padding:12px 24px; border:none; border-radius:6px; font-size:15px; font-weight:bold; cursor:pointer; width:100%;\"\n      >\n        📨 Submit\n      </button>\n    </form>\n  </div>\n\n  <div class=\"warning\">\n    ⚠️ This approval link expires in 24 hours. Please click one button above.\n  </div>\n</div>\n\n<script>\n  function toggleEdit() {\n    var section = document.getElementById('editSection');\n    section.style.display = (section.style.display === 'block') ? 'none' : 'block';\n  }\n</script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -1216,
        96
      ],
      "id": "2d821b5b-2ccc-48ad-bf31-1a7fe83dd43f",
      "name": "HTML"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query.decision }}",
                    "rightValue": "=approved",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6dec3f04-c705-44fc-a8d4-e8ce15dcaa0d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c98e3361-d27c-4e0b-bf3e-d2be75afef71",
                    "leftValue": "={{ $json.query.decision }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b541c97f-527e-4c39-9888-923d658c25c2",
                    "leftValue": "={{ $json.query.decision }}",
                    "rightValue": "pending ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -384,
        112
      ],
      "id": "7236f94e-6fe5-47ad-89a9-6777174a7d02",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Format Review Data').item.json.customer_email }}",
        "subject": "=⏳ Pending Review — {{ $('Format Review Data').item.json.subject }}",
        "message": "=Hi,\n\nThe following email draft has been marked as Pending Review and will need your attention later.\n\nCustomer: {{ $('Format Review Data').item.json.customer_name }}\nEmail: {{ $('Format Review Data').item.json.customer_email }}\nSubject: {{ $('Format Review Data').item.json.subject }}\n\nAI Draft:\n{{ $('Format Review Data').item.json.ai_draft }}\n\nPlease review and take action when ready.\n\nRegards,\nAutomation System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        0,
        496
      ],
      "id": "b7539c8a-a1ca-4191-977c-c2df9550511e",
      "name": "Send a message1",
      "webhookId": "7e541ada-e875-49a7-93ce-ef3bca74cbd7",
      "credentials": {
        "gmailOAuth2": {
          "id": "ufBHP0gOl5jBybIp",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/audit-log",
        "sendBody": true,
        "specifyBody": "={\n  \"event_type\":     \"workflow.started\",\n  \"workflow_name\":  \"HITL Email\",\n  \"status\":         \"started\",\n  \"triggered_by\":   \"manual\",\n  \"duration_ms\":    0,\n  \"items_processed\": 0,\n  \"message\":        \"HITL Email workflow started\",\n  \"error\":          null,\n  \"metadata\":       {}\n}",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2384,
        96
      ],
      "id": "4536fdab-3c42-4278-84bb-c3b1bb7bd932",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/audit-log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event_type\":    \"email.sent_for_review\",\n  \"workflow_name\": \"HITL Email\",\n  \"status\":        \"waiting\",\n  \"triggered_by\":  \"manual\",\n  \"message\":       \"Review email sent to manager, waiting for approval\",\n  \"metadata\":      {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -800,
        96
      ],
      "id": "1578d2ab-6371-456e-aea9-aed9d387dc6d",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook-test/audit-log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"event_type\":    \"workflow.completed\",\n  \"workflow_name\": \"HITL Email\",\n  \"status\":        \"approved\",\n  \"triggered_by\":  \"manual\",\n  \"message\":       \"Manager approved — email sent to customer\",\n  \"metadata\":      {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "bf3bc04b-69bd-4ec4-ae0e-67c8f30f933b",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "audit_logs",
          "mode": "list",
          "cachedResultName": "audit_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "duration_ms": 0,
            "items_processed": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_type",
              "displayName": "event_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "triggered_by",
              "displayName": "triggered_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_ms",
              "displayName": "duration_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "items_processed",
              "displayName": "items_processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "displayName": "error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1600,
        1296
      ],
      "id": "8bd2d3c1-2dab-498b-a6ff-468d7988ed56",
      "name": "Insert rows in a table"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Email Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Review Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Review Data": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Email to Manager": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Send Review Email to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Customer Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "9dfe9b0c-8b65-40df-98e1-342c1de9ded3",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-12T08:32:53.382Z",
      "createdAt": "2026-06-12T08:32:53.382Z",
      "role": "workflow:owner",
      "workflowId": "1R1MHMqUPE9RXgjw",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": null,
  "tags": []
}