workflows/HTTP.json
{
  "updatedAt": "2026-06-04T09:00:40.802Z",
  "createdAt": "2026-06-04T07:15:26.583Z",
  "id": "kRXnRkRwgqNsFO8J",
  "name": "HTTP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "create-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        -176
      ],
      "id": "59f967b9-a2bc-4c20-8a47-3e9b7115bf99",
      "name": "Webhook",
      "webhookId": "e11db59e-10fc-4404-bfe9-e920b51f3f6d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"User created successfully\",\n  \"apiResponse\": {{$json.id}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -176
      ],
      "id": "c60250bf-a204-4e1f-93d9-2ea3c08ea39d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/posts/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -176
      ],
      "id": "827183cf-7f1e-4045-942b-83e86caefe44",
      "name": "GET"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"{{ $json.body.title }}\",\n  \"body\": \"{{ $json.body.description }}\",\n  \"userId\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        32
      ],
      "id": "8ff51e59-2b54-4e7b-8117-927910abf573",
      "name": "Post"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        32
      ],
      "id": "ef0bce45-6014-4ffb-b43b-348af5fe85ed",
      "name": "Webhook1",
      "webhookId": "e11db59e-10fc-4404-bfe9-e920b51f3f6d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"User created successfully\",\n  \"apiResponse\": {{$json.id}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        32
      ],
      "id": "ea8adf89-baa2-43b9-ac15-186f241744fb",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "create-user",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        272
      ],
      "id": "d2a00c90-5dbf-431f-af9d-0898eb4f56b9",
      "name": "Webhook2",
      "webhookId": "e11db59e-10fc-4404-bfe9-e920b51f3f6d"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"User created successfully\",\n  \"apiResponse\": {{$json.id}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        480,
        272
      ],
      "id": "b019f019-dfc8-4d38-9659-8b2ca2f536a2",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/posts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\":\"Updated by n8n\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        272
      ],
      "id": "363cfda3-d0ea-48de-beba-192cac204ee8",
      "name": "Patch"
    },
    {
      "parameters": {
        "content": "## | Auth Type    | Real Life Example   |\n\n| None                  - Public Website      |\n| API Key              - Membership Card     |\n| Basic Auth         - Username + Password |\n| Bearer Token     - Visitor Pass        |\n| OAuth2               - Login with Google   |\n",
        "height": 240,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        480
      ],
      "id": "163e2a2e-366b-4222-a9e8-a0fb523cd9ab",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Patch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patch": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0ee2389c-8c05-42e9-a6b0-7ea7a6103b8d",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-04T07:15:26.587Z",
      "createdAt": "2026-06-04T07:15:26.587Z",
      "role": "workflow:owner",
      "workflowId": "kRXnRkRwgqNsFO8J",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": null,
  "tags": []
}