workflows/Human_in_the_loop_Chat.json
{
  "updatedAt": "2026-06-10T08:09:43.768Z",
  "createdAt": "2026-06-09T10:01:36.239Z",
  "id": "GulrKZTodwu2TcrV",
  "name": "Human in the loop Chat",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        560,
        288
      ],
      "id": "e91f1a11-18e6-4cde-b4e7-5098790ae3a6",
      "name": "When chat message received",
      "webhookId": "c282a83f-cb09-4eb2-9b15-59ab87806685",
      "retryOnFail": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an AI assistant participating in a Human-in-the-Loop workflow.\n\nWhen a user sends a request:\n\n1. Analyze the request.\n2. Generate a clear response.\n3. End every response with:\n\n\"Please review my suggestion and click Approve or Reject.\"\n\nDo not assume approval.\nWait for human confirmation before proceeding.\n\nBe concise and professional."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        288
      ],
      "id": "42d368ca-182d-4397-9bad-fd200bb2aec3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "message": "=AI Recommendation:\n{{$json.output}}\nPlease review the recommendation and select Approve or Decline.",
        "responseType": "approval",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 45,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        1120,
        288
      ],
      "id": "77a56fbd-61d2-46fb-8039-de15a8a82455",
      "name": "Chat",
      "webhookId": "f145c2c9-4e44-4e5c-85e2-5e8f2f31569f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a8179d80-c3bb-4bc1-88df-9c998978856f",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        288
      ],
      "id": "13e62e8e-71f0-4a6e-a455-de6a747ce86f",
      "name": "If"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        768,
        464
      ],
      "id": "e06c9e12-fa94-41d5-b871-5cd8b90b765c",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "x5lZM9gfKe7o6JtL",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        864,
        576
      ],
      "id": "2319a986-6dfe-4377-ab14-72e1baa269bc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"AI recommendation approved by user\");\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        208
      ],
      "id": "ad688061-a730-4f5d-bc66-939f5eef762c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "console.log(\"AI recommendation declined by user\");\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        352
      ],
      "id": "3f8def87-58c6-4ebb-8b19-5a9c315133ae",
      "name": "Code in JavaScript1"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fde73dad-93b6-4a12-a381-88c876a5961a",
  "activeVersionId": "fde73dad-93b6-4a12-a381-88c876a5961a",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-09T10:01:36.248Z",
      "createdAt": "2026-06-09T10:01:36.248Z",
      "role": "workflow:owner",
      "workflowId": "GulrKZTodwu2TcrV",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-10T10:16:18.000Z",
    "createdAt": "2026-06-10T08:07:14.461Z",
    "versionId": "fde73dad-93b6-4a12-a381-88c876a5961a",
    "workflowId": "GulrKZTodwu2TcrV",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "availableInChat": true,
          "options": {
            "responseMode": "responseNodes"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          560,
          288
        ],
        "id": "e91f1a11-18e6-4cde-b4e7-5098790ae3a6",
        "name": "When chat message received",
        "webhookId": "c282a83f-cb09-4eb2-9b15-59ab87806685",
        "retryOnFail": false,
        "executeOnce": false,
        "alwaysOutputData": false,
        "notesInFlow": false
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are an AI assistant participating in a Human-in-the-Loop workflow.\n\nWhen a user sends a request:\n\n1. Analyze the request.\n2. Generate a clear response.\n3. End every response with:\n\n\"Please review my suggestion and click Approve or Reject.\"\n\nDo not assume approval.\nWait for human confirmation before proceeding.\n\nBe concise and professional."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          768,
          288
        ],
        "id": "42d368ca-182d-4397-9bad-fd200bb2aec3",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "operation": "sendAndWait",
          "message": "=AI Recommendation:\n{{$json.output}}\nPlease review the recommendation and select Approve or Decline.",
          "responseType": "approval",
          "approvalOptions": {
            "values": {
              "approvalType": "double"
            }
          },
          "options": {
            "limitWaitTime": {
              "values": {
                "resumeAmount": 45,
                "resumeUnit": "minutes"
              }
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chat",
        "typeVersion": 1.2,
        "position": [
          1120,
          288
        ],
        "id": "77a56fbd-61d2-46fb-8039-de15a8a82455",
        "name": "Chat",
        "webhookId": "f145c2c9-4e44-4e5c-85e2-5e8f2f31569f"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "a8179d80-c3bb-4bc1-88df-9c998978856f",
                "leftValue": "={{ $json.data.approved }}",
                "rightValue": "true",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1328,
          288
        ],
        "id": "13e62e8e-71f0-4a6e-a455-de6a747ce86f",
        "name": "If"
      },
      {
        "parameters": {
          "model": "gpt-4.1-mini",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          768,
          464
        ],
        "id": "e06c9e12-fa94-41d5-b871-5cd8b90b765c",
        "name": "Azure OpenAI Chat Model",
        "credentials": {
          "azureOpenAiApi": {
            "id": "x5lZM9gfKe7o6JtL",
            "name": "Azure Open AI account"
          }
        }
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          864,
          576
        ],
        "id": "2319a986-6dfe-4377-ab14-72e1baa269bc",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "jsCode": "console.log(\"AI recommendation approved by user\");\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          208
        ],
        "id": "ad688061-a730-4f5d-bc66-939f5eef762c",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "jsCode": "console.log(\"AI recommendation declined by user\");\nreturn items;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1552,
          352
        ],
        "id": "3f8def87-58c6-4ebb-8b19-5a9c315133ae",
        "name": "Code in JavaScript1"
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sanika Shinde",
    "name": "Version fde73dad",
    "description": "",
    "autosaved": true
  },
  "tags": []
}