workflows/PostgreSQL.json
{
  "updatedAt": "2026-06-08T11:25:16.713Z",
  "createdAt": "2026-06-08T08:58:01.699Z",
  "id": "xHayYje9CQVGceTC",
  "name": "PostgreSQL",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        176
      ],
      "id": "09d3aafd-3445-4d31-8660-484c352fa776",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "EmployeeDetails",
          "mode": "list",
          "cachedResultName": "EmployeeDetails"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "2f6b88ed-4092-45a5-b238-8ae169e27e1d",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "EmployeeDetails",
          "mode": "list",
          "cachedResultName": "EmployeeDetails"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "Name": "Atmika",
            "Department": "medical",
            "Email": "atmika@gmail.com"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        192
      ],
      "id": "b0fcc080-7e6b-4329-a4e9-cefac24fc053",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "EmployeeDetails",
          "mode": "list",
          "cachedResultName": "EmployeeDetails"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "Sanika",
            "id": 1,
            "Department": "SAP"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Department",
              "displayName": "Department",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        192,
        384
      ],
      "id": "62343394-8bd8-4eaf-989a-5916060b53db",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "S1GufnWZ07lSTR7c",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\nreturn [\n  {\n    json: {\n      status       : \"Done\",\n      completedAt  : new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "1295499a-a001-4a1f-9292-9248c040cb5e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\nreturn [\n  {\n    json: {\n      status       : \"Done\",\n      completedAt  : new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        192
      ],
      "id": "cc0e21e4-16b1-4dae-86fe-f74ec2b74ff7",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\nreturn [\n  {\n    json: {\n      status       : \"Done\",\n      completedAt  : new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        384
      ],
      "id": "544b663e-6346-4bdc-8af1-328e02a8d13d",
      "name": "Code in JavaScript2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "56e35bd8-9234-4217-a2ff-26118455e065",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-08T08:58:01.705Z",
      "createdAt": "2026-06-08T08:58:01.705Z",
      "role": "workflow:owner",
      "workflowId": "xHayYje9CQVGceTC",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": null,
  "tags": []
}