workflows/RAG_Pinecone.json
{
  "updatedAt": "2026-05-22T12:46:21.378Z",
  "createdAt": "2026-05-20T09:59:14.117Z",
  "id": "gntvcerlFbbf7R4a",
  "name": "RAG Pinecone",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "ba0e4a0f-df7e-4709-8b02-a4c987c3ef6b",
        "formTitle": "Upload SAP Knowledge PDF",
        "formFields": {
          "values": [
            {
              "fieldLabel": "PDF_Upload",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "662197b3-0b1d-44d4-a5fd-1e65fc82b14e",
      "name": "On form submission1",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        928,
        -368
      ],
      "webhookId": "ba0e4a0f-df7e-4709-8b02-a4c987c3ef6b"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "b721a27b-b711-4e96-99a4-c30803093da6",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1168,
        -176
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "69db8ac6-3009-4cb9-9f10-1e750e49ec23",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        0
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "mode": "list",
          "value": "n8n-rag"
        },
        "options": {}
      },
      "id": "9eca2bbc-5288-48bd-9937-c9bb83dd1e86",
      "name": "Pinecone Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1200,
        -368
      ],
      "credentials": {
        "pineconeApi": {
          "id": "HNgpPxMt1aP7CqV7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-ada-002",
        "options": {}
      },
      "id": "69876dc0-3629-4bfe-a20a-23928062f21b",
      "name": "Azure OpenAI Embeddings1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1632,
        -80
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "x5lZM9gfKe7o6JtL",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "sap_knowledge_base",
        "toolDescription": "Search SAP incident knowledge",
        "pineconeIndex": {
          "mode": "list",
          "value": "n8n-rag"
        },
        "options": {}
      },
      "id": "d4b62d15-3e4d-4c14-8986-b96f7842205b",
      "name": "Pinecone Retriever1",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2128,
        -64
      ],
      "credentials": {
        "pineconeApi": {
          "id": "HNgpPxMt1aP7CqV7",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Study uploaded document and give answer"
        }
      },
      "id": "de0dc3c4-517f-4920-9241-7ad04386aa2d",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1968,
        -368
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "c8e9180a-2c69-4e3c-92e9-ef71546d78f6",
      "name": "Azure OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1888,
        -176
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "x5lZM9gfKe7o6JtL",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        1760,
        -368
      ],
      "id": "e9d300b6-b888-4070-800d-190d686cdfc4",
      "name": "When chat message received",
      "webhookId": "2a87329a-13c6-4411-ac2f-260f95fb4061"
    },
    {
      "parameters": {
        "contextWindowLength": "=2"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        -160
      ],
      "id": "bcef6481-f139-499d-aad2-fa7325af9222",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Embeddings1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Retriever1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Retriever1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "47a8f740-95e2-4647-9552-e1df7ea9d924",
  "activeVersionId": "96f7cb78-b732-4d50-b9b5-b6663b1f2166",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-05-20T09:59:14.120Z",
      "createdAt": "2026-05-20T09:59:14.120Z",
      "role": "workflow:owner",
      "workflowId": "gntvcerlFbbf7R4a",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-20T13:43:43.000Z",
    "createdAt": "2026-05-20T13:42:57.031Z",
    "versionId": "96f7cb78-b732-4d50-b9b5-b6663b1f2166",
    "workflowId": "gntvcerlFbbf7R4a",
    "nodes": [
      {
        "parameters": {
          "path": "ba0e4a0f-df7e-4709-8b02-a4c987c3ef6b",
          "formTitle": "Upload SAP Knowledge PDF",
          "formFields": {
            "values": [
              {
                "fieldLabel": "PDF_Upload",
                "fieldType": "file",
                "requiredField": true
              }
            ]
          },
          "options": {}
        },
        "id": "662197b3-0b1d-44d4-a5fd-1e65fc82b14e",
        "name": "On form submission1",
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2,
        "position": [
          928,
          -368
        ],
        "webhookId": "ba0e4a0f-df7e-4709-8b02-a4c987c3ef6b"
      },
      {
        "parameters": {
          "dataType": "binary",
          "options": {}
        },
        "id": "b721a27b-b711-4e96-99a4-c30803093da6",
        "name": "Default Data Loader1",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          1248,
          -112
        ]
      },
      {
        "parameters": {
          "chunkOverlap": 200,
          "options": {}
        },
        "id": "69db8ac6-3009-4cb9-9f10-1e750e49ec23",
        "name": "Recursive Character Text Splitter1",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          1248,
          272
        ]
      },
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "mode": "list",
            "value": "n8n-rag"
          },
          "options": {}
        },
        "id": "9eca2bbc-5288-48bd-9937-c9bb83dd1e86",
        "name": "Pinecone Vector Store1",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          1280,
          -368
        ],
        "credentials": {
          "pineconeApi": {
            "id": "HNgpPxMt1aP7CqV7",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "model": "text-embedding-ada-002",
          "options": {}
        },
        "id": "69876dc0-3629-4bfe-a20a-23928062f21b",
        "name": "Azure OpenAI Embeddings1",
        "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
        "typeVersion": 1,
        "position": [
          1280,
          80
        ],
        "credentials": {
          "azureOpenAiApi": {
            "id": "x5lZM9gfKe7o6JtL",
            "name": "Azure Open AI account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "sap_knowledge_base",
          "toolDescription": "Search SAP incident knowledge",
          "pineconeIndex": {
            "mode": "list",
            "value": "n8n-rag"
          },
          "options": {}
        },
        "id": "d4b62d15-3e4d-4c14-8986-b96f7842205b",
        "name": "Pinecone Retriever1",
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1,
        "position": [
          1984,
          -16
        ],
        "credentials": {
          "pineconeApi": {
            "id": "HNgpPxMt1aP7CqV7",
            "name": "PineconeApi account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "Study uploaded document and give answer"
          }
        },
        "id": "de0dc3c4-517f-4920-9241-7ad04386aa2d",
        "name": "AI Agent1",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          1968,
          -368
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        },
        "id": "c8e9180a-2c69-4e3c-92e9-ef71546d78f6",
        "name": "Azure OpenAI Chat Model1",
        "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
        "typeVersion": 1,
        "position": [
          1968,
          -144
        ],
        "credentials": {
          "azureOpenAiApi": {
            "id": "x5lZM9gfKe7o6JtL",
            "name": "Azure Open AI account"
          }
        }
      },
      {
        "parameters": {
          "public": true,
          "availableInChat": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          1760,
          -368
        ],
        "id": "e9d300b6-b888-4070-800d-190d686cdfc4",
        "name": "When chat message received",
        "webhookId": "2a87329a-13c6-4411-ac2f-260f95fb4061"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "data"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          2016,
          224
        ],
        "id": "bcef6481-f139-499d-aad2-fa7325af9222",
        "name": "Simple Memory"
      }
    ],
    "connections": {
      "Default Data Loader1": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter1": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader1",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Azure OpenAI Embeddings1": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Pinecone Retriever1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Retriever1": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "On form submission1": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Azure OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sanika Shinde",
    "name": "Version 96f7cb78",
    "description": "",
    "autosaved": true
  },
  "tags": []
}