workflows/server2.json
{
  "updatedAt": "2026-05-12T12:09:26.334Z",
  "createdAt": "2026-05-12T12:09:12.287Z",
  "id": "H6uz1V4GtpI5UcaP",
  "name": "server2",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://e9hpathhdb.aws.capsapsl.com:44341/sap/opu/odata4/sap/api_product/srvd_a2x/sap/product/0002/Product('{{ $json.body.Product }}')",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "={\n  \"x-csrf-token\": \"{{ $json.headers['x-csrf-token'] }}\",\n  \"Cookie\": \"{{ $json.headers['set-cookie'][1] }}\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\",\n  \"sap-client\": \"500\",\n  \"If-Match\": \"*\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"CrossPlantStatus\": \"02\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        0
      ],
      "id": "2247446e-108a-4a0f-855c-bc96b6793262",
      "name": "update_product2",
      "alwaysOutputData": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "amXEvooHAf1tb0dM",
          "name": "SAP Credentials"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://e9hpathhdb.aws.capsapsl.com:44341/sap/opu/odata4/sap/api_product/srvd_a2x/sap/product/0002/Product('{{ $json.productNumber }}')",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-CSRF-Token",
              "value": "Fetch"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "sap-client",
              "value": "500"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        352,
        0
      ],
      "id": "06822186-1517-4253-b05a-639224f78d7d",
      "name": "get_csrf3",
      "credentials": {
        "httpBasicAuth": {
          "id": "amXEvooHAf1tb0dM",
          "name": "SAP Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Convert everything to string safely\nconst raw = typeof input === 'string'\n  ? input\n  : JSON.stringify(input);\n\n// Extract first number (product code)\nconst match = raw.match(/\\b\\d+\\b/);\n\nif (!match) {\n  throw new Error(\"No product number found in input\");\n}\n\nconst productNumber = match[0];\n\nreturn [{\n  json: {\n    productNumber\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "61fb2c46-5e41-438b-9915-5650213a6466",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3b60c529-e26a-4d50-b040-97dc9371cab1",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -48,
        0
      ]
    }
  ],
  "connections": {
    "get_csrf3": {
      "main": [
        [
          {
            "node": "update_product2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "get_csrf3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "391e32fe-55e4-4ae2-940a-dfa8fd5a084d",
  "activeVersionId": "391e32fe-55e4-4ae2-940a-dfa8fd5a084d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-12T12:09:12.292Z",
      "createdAt": "2026-05-12T12:09:12.292Z",
      "role": "workflow:owner",
      "workflowId": "H6uz1V4GtpI5UcaP",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-05-12T12:09:28.000Z",
    "createdAt": "2026-05-12T12:09:26.335Z",
    "versionId": "391e32fe-55e4-4ae2-940a-dfa8fd5a084d",
    "workflowId": "H6uz1V4GtpI5UcaP",
    "nodes": [
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://e9hpathhdb.aws.capsapsl.com:44341/sap/opu/odata4/sap/api_product/srvd_a2x/sap/product/0002/Product('{{ $json.body.Product }}')",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "specifyHeaders": "json",
          "jsonHeaders": "={\n  \"x-csrf-token\": \"{{ $json.headers['x-csrf-token'] }}\",\n  \"Cookie\": \"{{ $json.headers['set-cookie'][1] }}\",\n  \"Content-Type\": \"application/json\",\n  \"Accept\": \"application/json\",\n  \"sap-client\": \"500\",\n  \"If-Match\": \"*\"\n}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"CrossPlantStatus\": \"02\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          592,
          0
        ],
        "id": "2247446e-108a-4a0f-855c-bc96b6793262",
        "name": "update_product2",
        "alwaysOutputData": false,
        "credentials": {
          "httpBasicAuth": {
            "id": "amXEvooHAf1tb0dM",
            "name": "SAP Credentials"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://e9hpathhdb.aws.capsapsl.com:44341/sap/opu/odata4/sap/api_product/srvd_a2x/sap/product/0002/Product('{{ $json.productNumber }}')",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBasicAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-CSRF-Token",
                "value": "Fetch"
              },
              {
                "name": "Accept",
                "value": "application/json"
              },
              {
                "name": "sap-client",
                "value": "500"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true,
            "response": {
              "response": {
                "fullResponse": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          352,
          0
        ],
        "id": "06822186-1517-4253-b05a-639224f78d7d",
        "name": "get_csrf3",
        "credentials": {
          "httpBasicAuth": {
            "id": "amXEvooHAf1tb0dM",
            "name": "SAP Credentials"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\n\n// Convert everything to string safely\nconst raw = typeof input === 'string'\n  ? input\n  : JSON.stringify(input);\n\n// Extract first number (product code)\nconst match = raw.match(/\\b\\d+\\b/);\n\nif (!match) {\n  throw new Error(\"No product number found in input\");\n}\n\nconst productNumber = match[0];\n\nreturn [{\n  json: {\n    productNumber\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          160,
          0
        ],
        "id": "61fb2c46-5e41-438b-9915-5650213a6466",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "3b60c529-e26a-4d50-b040-97dc9371cab1",
        "typeVersion": 1.1,
        "name": "Start",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -48,
          0
        ]
      }
    ],
    "connections": {
      "get_csrf3": {
        "main": [
          [
            {
              "node": "update_product2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "get_csrf3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Start": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Sanika Shinde",
    "name": "Version 391e32fe",
    "description": "",
    "autosaved": true
  },
  "tags": []
}