workflows/SplitNode.json
{
  "updatedAt": "2026-05-07T07:02:17.501Z",
  "createdAt": "2026-05-05T06:17:06.897Z",
  "id": "2mwz8KtxuYb0bZ8M",
  "name": "SplitNode",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        0
      ],
      "id": "5eeefc22-2659-412c-92dd-387fe9bf0598",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "batchSize": 8,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        128,
        0
      ],
      "id": "22835032-80b4-43b2-bdf9-24ecf2f1f502",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\nreturn [\n  {\n    json: {\n      status       : \"All Rows Extracted Successfully\",\n      totalFetched : allRows.length,\n      completedAt  : new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -96
      ],
      "id": "b7a0ec6e-2e17-44ca-9e4a-592bb0023ccd",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fDMrkHtsFQTa7BLL",
          "mode": "list",
          "cachedResultName": "ClassInfo",
          "cachedResultUrl": "/projects/R2OGQRrWYLraDwSj/datatables/fDMrkHtsFQTa7BLL"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Roll_no",
              "keyValue": "={{ $json.roll_no }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        336,
        48
      ],
      "id": "c6cc2d0b-b0f9-400a-b39a-781b9ad71ad9",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n// for (const item of $input.all()) {\n//   item.json.myNewField = 1;\n// }\n\n// Return roll numbers as array which is only one item\n//return { \"role_no\" : [ 1 , 2 , 3 ] };\n\n//One item with array inside\n// return [\n//   {\n//     json: {\n//       names: [\"Sanika\", \"Tushar\", \"Roshni\", \"Sanket\"]\n//     }\n//   }\n// ];\n\n// // One item with multiple arrays\n// return [\n//   {\n//     json: {\n//       roll_no : [1, 2, 3, 4],\n//       names   : [\"Sanika\", \"Tushar\", \"Roshni\", \"Sanket\"],\n//       classes : [1, 2, 3, 4]\n//     }\n//   }\n// ];\n// One item with array of objects\n// return [\n//   {\n//     json: {\n//       students: [\n//         { roll_no: 1, name: \"Sanika\",  class: 1 },\n//         { roll_no: 2, name: \"Tushar\",  class: 2 },\n//         { roll_no: 3, name: \"Roshni\",  class: 3 },\n//         { roll_no: 4, name: \"Sanket\",  class: 4 }\n//       ]\n//     }\n//   }\n// ];\nreturn {\n  \"students\": [\n    { \"roll_no\": 1, \"name\": \"Alice\", \"class\": \"A\" },\n    { \"roll_no\": 2, \"name\": \"Bob\",   \"class\": \"B\" }\n  ],\n  \"school_name\": \"Capgemini Academy\",\n  \"year\": 2024\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        0
      ],
      "id": "c1b10a7a-2b41-4c30-ab37-9c99f4fe3f48",
      "name": "Roll Number List"
    },
    {
      "parameters": {
        "fieldToSplitOut": "students",
        "include": "selectedOtherFields",
        "fieldsToInclude": "year",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        0
      ],
      "id": "fc0a343a-009f-4ec1-a2ca-9ea2044f401c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "Split Out node breaks ONE item containing an array into MULTIPLE individual items\"\n\n\"Split Out node is like opening a box and taking out each item individually. When our Code node returns one item containing an array of 5 employees, the Split Out node opens that array and creates 5 separate individual items. \"\n\n",
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        208
      ],
      "id": "57a4d79d-b9e2-49d1-a731-ad3d10ba638a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "1 Disable Dot Notation\n❓ What is Dot Notation?\nIn n8n, dot notation means accessing nested fields using a dot (.)\n{\n  \"student.name\": \"Alice\"   ← this is ONE field with a dot in its name\n}\n\n2 Destination Field Name\n❓ What does it do?\nIt lets you rename the split field in the output instead of keeping the original field name.\nOriginal field name: students\nYou set Destination Field Name: student_info\n\n  \"student_info\": {        ← renamed from \"students\"\n    \"roll_no\": 1,\n    \"name\": \"Alice\",\n    \"class\": \"A\"\n  },\n  \"year\": 2024\n}\n\n3 Include Binary\n❓ What is Binary Data in n8n?\nBinary data = non-text files like:\n\n📄 PDFs\n🖼️ Images\n📊 Excel files\n📁 Any file attachment\n❓ What does Include Binary do?\nWhen you split items, by default binary/file data is NOT carried to each output item.\n\nEnabling Include Binary = YES means each split item will also carry the binary/file data with it.\n{\n  \"students\": [\"Alice\", \"Bob\"],\n  \"report_card.pdf\": \"<binary file data>\"\n}",
        "height": 736,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -368
      ],
      "id": "c2bd4873-59ec-464f-a9df-cdc7a06d7d4a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "The Include option controls how much context travels with each split item downstream. It helps balance between having enough data to work with and keeping the workflow output clean and efficient.\n\nScenario\tBest Option(Include)\nJust process each student's data\nNo Other Fields\n\nNeed school name/year with every student\t\nAll Other Fields\n\nNeed only school name but not year\nSelected Other Fields\n\n",
        "height": 320,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -368
      ],
      "id": "f68ce111-330a-4d34-b854-434d86421c97",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Roll Number List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roll Number List": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c9b3ac64-7621-4dff-a0ed-2bd3256b4027",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T06:17:06.902Z",
      "createdAt": "2026-05-05T06:17:06.902Z",
      "role": "workflow:owner",
      "workflowId": "2mwz8KtxuYb0bZ8M",
      "projectId": "R2OGQRrWYLraDwSj"
    }
  ],
  "activeVersion": null,
  "tags": []
}